services:
  router:
    build: ./router
    hostname: router
    networks:
      rede_wan:
        ipv4_address: 192.0.2.254  
        interface_name: eth0  
      rede_stark:
        ipv4_address: 192.168.10.254
        interface_name: eth1
      rede_lannister:
        ipv4_address: 192.168.11.254
        interface_name: eth2
      rede_targaryen:
        ipv4_address: 192.168.12.254
        interface_name: eth3
    cap_add:
      - NET_ADMIN
  ned:
    build: ./kea
    container_name: ned
    networks:
      rede_stark:
        ipv4_address: 192.168.10.10
    cap_add:
      - NET_ADMIN
    entrypoint: "bash -c /sbin/entrypoint.sh"
    volumes:
      - ./kea/entrypoint.sh:/sbin/entrypoint.sh
      - ./ned/kea-dhcp4.conf.json:/etc/kea/kea-dhcp4.conf
  arya:
    build: ./dnsserver
    container_name: arya
    networks:
      rede_stark:
        ipv4_address: 192.168.10.11
    cap_add:
      - NET_ADMIN
    volumes:
      - ./dnsserver/named.conf.local:/etc/bind/named.conf.local
      - ./dnsserver/named.conf.options:/etc/bind/named.conf.options
      - ./dnsserver/zonas:/var/cache/bind/zonas
  cliente1:
    build: ./cliente
    container_name: clientE1
    networks:
      rede_stark:
        mac_address: 02:42:ac:11:00:10  # dirección HW fija
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

  cliente2:
    build: ./cliente
    networks:
      rede_lannister:
        mac_address: 02:42:ac:11:00:11  # dirección HW fija
    cap_add:
      - NET_ADMIN
    command: >
      sh -c "dhclient -v eth0 && sleep infinity"

networks:
  rede_stark:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.10.0/24
  rede_lannister:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.11.0/24
  rede_targaryen:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.12.0/24
  rede_wan:
    driver: bridge
    ipam:
      config:
        - subnet: 192.0.2.0/24